### Introduction to Scikit-Learn

Demonstration of some of the most useful functions of the scikit-learn library

Table of content

0. An end-to-end Scikit-Learn workflow
1. Getting the data ready
2. Choose the right estimator/algorithm for our problems
3. Fit the model/algorithm and use it to make predictions on our data
4. Evaluating a model
5. Improving a model
6. Save and load a trained model
7. Putting it all together

#### 1. Getting the data ready

In [48]:
# 1. Get the data ready
import pandas as pd
import numpy as np
heart_disease = pd.read_csv("Files/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

If an individual has heart disease the target will be '1', if not the target will be '0'.
The aim of this project is to use the information in the dataset such as age, sex, cb, chol etc to determine whether an individual has heart disease or not

In [17]:
# Create X (also called features matrix)
X = heart_disease.drop("target", axis=1)

# Create y (labels)
y = heart_disease['target']

In [18]:
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [19]:
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

#### 2. Choose the right model and hyperparameters

In [20]:
from sklearn.ensemble import RandomForestClassifier
# This is a classification machine learning model that is capable 
# of learning patterns in data 

clf = RandomForestClassifier(n_estimators=100)

# We'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

#### 3. Fit the model to the training data

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [21]:
clf.fit(X_train,y_train);

In [27]:
y_preds = clf.predict(X_test)
y_preds

array([1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0], dtype=int64)

In [28]:
y_test

18     1
179    0
114    1
82     1
203    0
      ..
55     1
228    0
261    0
219    0
232    0
Name: target, Length: 61, dtype: int64

#### 4. Evaluate the Model

In [29]:
clf.score(X_train, y_train)

1.0

In [30]:
clf.score(X_test, y_test)

0.7868852459016393

In [31]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.87      0.74      0.80        35
           1       0.71      0.85      0.77        26

    accuracy                           0.79        61
   macro avg       0.79      0.79      0.79        61
weighted avg       0.80      0.79      0.79        61

In [35]:
print(confusion_matrix(y_test, y_preds))

[[26  9]
 [ 4 22]]

In [36]:
print(accuracy_score(y_test, y_preds))

0.7868852459016393

#### 5. Improve the Model

In [41]:
# Try different amount of n_estimators
np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accuracy on test set: {clf.score(X_test, y_test) * 100:.2f}%")
    print("")

Trying model with 10 estimators...
Model accuracy on test set: 70.49%

Trying model with 20 estimators...
Model accuracy on test set: 72.13%

Trying model with 30 estimators...
Model accuracy on test set: 73.77%

Trying model with 40 estimators...
Model accuracy on test set: 72.13%

Trying model with 50 estimators...
Model accuracy on test set: 75.41%

Trying model with 60 estimators...
Model accuracy on test set: 73.77%

Trying model with 70 estimators...
Model accuracy on test set: 72.13%

Trying model with 80 estimators...
Model accuracy on test set: 72.13%

Trying model with 90 estimators...
Model accuracy on test set: 78.69%

#### 6. Save the model and load it

In [42]:
# We can save with pickle
import pickle

pickle.dump(clf, open("random_forest_model_1.pkl", "wb"))

In [45]:
# Now we load the model
loaded_model = pickle.load(open("random_forest_model_1.pkl", "rb"))

In [47]:
loaded_model.score(X_test, y_test)

0.7868852459016393